* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}
body {
  padding: 0.625rem 0.938rem;
}
body::-webkit-scrollbar {
  display: none;
}
ul {
  list-style-type: none;
}
a {
  text-decoration: none;
  color: #000;
}
button {
  cursor: pointer;
}
