.story {
  background-color: #eee;
  margin: 0.313rem 0.938rem;
  padding: 1.875rem 0.938rem;
  border-radius: 1.25rem;
  width: 43.75rem;
}
.react-tabs__tab-list {
  display: flex;
  justify-content: space-between;
}
.react-tabs__tab {
  font-weight: bold !important;
}
.react-tabs__tab--selected {
  background: none !important;
  border: none !important;
  border-color: none !important;
  border-bottom: 1px solid #fff !important;
  color: #fff !important;
}
.storyGroups {
  display: flex;
  width: 100%;
  flex-wrap: nowrap;
  overflow-x: auto;
}
.storyGroups .storyGroup {
  border-radius: 1.25rem;
  margin: 0.938rem 0;
  flex: 0 0 auto;
  width: 9.375rem;
  height: 15.625rem;
  margin-right: 1.375rem;
  background: #fff;
}
.storyGroups::-webkit-scrollbar {
  height: 0.313rem;
}
.storyGroups::-webkit-scrollbar-track {
  background: #fff;
}
.storyGroups::-webkit-scrollbar-thumb {
  background: #888;
}
.storyGroups::-webkit-scrollbar-thumb:hover {
  background: #555;
}
.storyGroups .storyGroup .storyCard .hidden {
  display: none;
}
.storyGroups .storyGroup .storyCard {
  height: 100%;
}
.storyGroups .storyGroup .storyCard label {
  display: flex;
  flex-direction: column;
  height: 100%;
  cursor: pointer;
}
.storyGroups .storyGroup .storyCard label .storyBody {
  flex: 2;
  display: flex;
  justify-content: center;
  align-items: center;
}

.storyGroups .storyGroup .storyCard label .storyBody img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 1.25rem 1.25rem 0 0;
}
.storyGroups .storyGroup .storyCard label .storyFooter {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.storyGroups .storyGroup .storyCard label .storyFooter svg {
  position: absolute;
  top: -1.25rem;
  font-size: 1.875rem;
  padding: 0.313rem;
  background-color: #fff;
  border-radius: 50%;
}
.storyGroups .storyGroup .storyCard label .storyFooter h4 {
  margin-top: 1.875rem;
}
.storyGroups .storyGroup .storyDiv {
  position: relative;
  cursor: pointer;
}
.storyGroups .storyGroup .storyDiv .storyUser img {
  height: 15.5rem;
  width: 100%;
  object-fit: cover;
  border-radius: 1.25rem;
}
.storyUserTitle {
  position: absolute;
  bottom: 2.188rem;
  left: 0.313rem;
  color: #fff;
}
.storyGroups .storyGroup .storyDiv .storyUserAddImgDiv {
  position: absolute;
  top: 1.25rem;
  left: 0.313rem;
}
.storyUserAddImg {
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
  object-fit: cover;
}
.addStory {
  display: block;
  margin: 10px auto;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 10px 5px;
  border-radius: 5px;
  color: #000000;
  font-weight: bold;
  transition: all 0.5s;
  font-size: 18px;
}

.addStory:hover {
  color: #ff0000;
}
